.preview_wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 32px solid #f7f7f7;
  position: relative;
  height: 772px;
  width: 100vw;
  overflow: hidden;
}

.PreviewImg {
  height: 772px;
  object-fit: cover;
}

.arrow_wrapper {
  position: absolute;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
}

.arrow {
  width: clamp(50px, 7vw, 70px);
}

@media (max-width: 767px) {
  .PreviewImg {
    height: 558px;
  }
  .preview_wrapper {
    height: 558px;
  }
}
